.add{
     margin-left:20px;
   
   
}
.atext{
    margin-top:-17px;
    margin-right:-35px;
}
.abt{
    margin-left:470px;
}
.abt a{
    text-decoration:none;
    font-family:sans-serif;
    margin-left:40px;
    color:grey;
    font-size:15px;

}
.apple{
    width:30px;
    height:20px;
    margin-left:-130px;
    margin-top:5px;

}

.agree{
    font-family:sans-serif;
    font-size:12px;
    margin-right:20px;
    text-align:center;
}
.agree a {
    text-decoration:none;
    color:rgb(38, 183, 38);
}
    body{
   background-color: rgb(248, 250, 250);
}
.card{
    background-color:white;
    margin-top:50px;
    height:650px;
    width:600px;
    margin-left:350px;
    border:0.1px rgb(221, 219, 219) solid;
}
.create{
    font-family:sans-serif;
    margin-left:150px;
    font-size:15px;

}
.create a{
    text-decoration:none;
    color:rgb(38, 183, 38);
}
.continue{
    background-color:rgb(38, 183, 38);
    border:none;
    color:white;
    height:38px;
    width:320px;
    font-size:15px;
    margin-left:130px;
    border-radius:2px;
}
.emailoruser{
    font-family:sans-serif;
    font-size:18px;
    margin-left:90px;
}
.google{
    width:20px;
    height:20px;
    margin-left:-130px;
    margin-top:5px;
 
}
.gtext{
    margin-top:-17px;
    margin-right:-35px;

   
}
hr{
    background-color:red;
}
header{
    background-color:white;
    margin-top:-8px;
    width:100%;
    margin-right:-10px;
    margin-left:-10px;
    height:60px;
    position:fixed;
    border-bottom:0.1px rgb(221, 219, 219) solid;
    
}

.icons{
    display:inline-flex;
    margin-left:260px;
    margin-top:50px;
}
input{
    margin-left:130px;
    width:320px;
    height:40px;
}
input:focus{
    border:2px solid aqua;
    border-radius:5px;
    outline:none;
}
.line1{
background-color:rgb(152, 152, 152);
height:0.5px;
margin-right:30px;
width:261.7px;
margin-top:5px;

}
.line2{
    background-color:rgb(152, 152, 152);
    height:0.5px;
    margin-left:30px;
    width:261.7px;
    margin-top:5px;

}
.logo{
    width:105px;
    height:30px;
    margin-left:600px;
    margin-top:15px;
    position:fixed;
}
.login{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:center;
    font-size:20px;
}
.lpass{
    text-align:center;

}
.lpass a{
    text-decoration: none;
    font-family:sans-serif;
    color:grey;
    font-size:14px;
    font-weight:bold;
}
.or{
    display:inline-flex;
    color:rgb(152, 152, 152);
    font-family:sans-serif;
    font-size:11px;
}
.jicon{
    width:25px;
    height:25px;
    margin-top:13px;
    margin-right:-10px;


}
.wicon{
    width: 65px;
    height:38px;
    margin-top:5px;
    margin-left:-10px;

}
.wbutton{
    background-color:white;
    margin-left:150px;
    height:40px;
    width:300px;
    border-top:1px rgb(187, 186, 186) solid;
    border-left:1px rgb(187, 186, 186) solid;
    border-right:1px rgb(187, 186, 186) solid;
    border-bottom:3px rgb(187, 186, 186) solid;
    border-radius:3px;
    margin-bottom:8px;
}
@media only screen and (max-width:768px){
    .agree{
        font-size:25px;
        margin-left:25px;
    }
    header{
       
        width:100%;
        height:110px;
        position:fixed;
       
}
.logo{
    width:180px;
    height:55px;
    margin-left:300px;
    margin-top:30px;
    position:fixed;
}
.card{
    margin-top:100px;
    height:1800px;
    width:300%;
    margin-left:-50px;
    
    
}
.continue{
    width:650px;
    margin-left:50px;
    height:80px;
    font-size:30px;
}
.create{
    font-size:30px;
    margin-left:90px;
    margin-bottom:50px;
}
.icons{
    margin-left:320px;
     
}
.add{
    font-weight:900;
    margin-top:20px;
    font-size:22px;

}
.jicon{
    width:45px;
    height:45px;
    margin-top:13px;
    margin-right:-10px;

}
.wicon{
    width: 95px;
    height:65px;
    margin-top:1px;
    margin-left:-10px;

}
.login{
    font-size:40px;
    margin-left:15px;
}
.emailoruser{
    font-size:40px;
     margin-left:50px;
}
input{
    margin-left:50px;
    width:650px;
    height:80px;
    margin-top:-15px;
}
.or{
    margin-left:350px;
    font-size:25px;
    margin-top:-25px;
}
.wbutton{
    width:650px;
    height:80px;
    font-size:27px;
    margin-left:50px;
}
.google{
    width:35px;
    height:35px;
    margin-right:130px;
    margin-top:15px;
 
   
}
.apple{
    width:50px;
    height:35px;
    margin-right:130px;
    margin-top:16px;

}
.gtext{
    margin-top:-28px;
    color:rgb(91, 90, 90);
    

}
.atext{
    margin-top:-28px;
    color:rgb(91, 90, 90);
}
.lpass a{
    font-size:27px;
    margin-left:20px;
    
}
.lpass{
    margin-top:35px;
}
.abt {
    
    margin-left:10px;
    display:inline-table;
    margin-right: -50px;
    margin-top:-30px;

}
.abt a{
    font-size:30px;

}
.line1{
     width:300px;
}
.line1{
     margin-right:10px;

}
     .line2{
          margin-left:10px;
     }

